{% extends "main.html.jinja" %}

{% block content %}
<dialog open>
  <article>
    <h2>ERROR: Feedbot feedback is only available to the submitter via the provided link.</h2>
  </article>
</dialog>
{% endblock %}
