<!DOCTYPE html>
<html lang="en">
<head>
    <title>Review Comments | FeedBot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css" />
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><strong>CS2500 FeedBot</strong></li>
        </ul>
        <ul>
          {% if session.get("email") %}
            <li>{{ session["email"] }}</li>
            <li><a href="/logout">Logout</a></li>
          {% endif %}
        </ul>
      </nav>

      {% block header %}
      {% endblock %}

    </header>
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>
</body>
