{% extends "main.html.jinja" %}

{% block header %}
<article>
<header>
    <h4>Automatic feedback for <strong>{{submission.email}}</strong>.</h4>
</header>
<ul>
    <li>This contains your submission code, so may only be shared with your partner or with course staff.</li>
<li><strong>WARNING:</strong> This feedback is generated automatically using a Large Language Model.<br/>While we expect the comments to usually be helpful, there are always possibilities for mistakes: comments received here should not override your own judgment, and <strong>you will not get points back if you follow advice here that leads to mistakes</li>
</ul>
</article>
{% endblock %}

{% block content %}
{% for (comment, form) in comments_and_forms %}
    <article>
        <h3>{{comment.path}}</h3>
        <blockquote>{{comment.text}}</blockquote>
        <pre><code>{{comment.code}}</code></pre>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.feedback_choice.label }}
            {{ form.feedback_choice() }}
            <br/>
            <input type="submit" name="{{comment.comment_id}}" value= "Submit">
        </form>
    </article>
{% endfor %}
{% endblock %}
