{% extends "main.html.jinja" %}

{% block header %}
<article>
<header>
    <h4>Automatic feedback for <strong>{{submission.email}}</strong>.</h4>
</header>
<ul>
    <li>This contains your submission code, so may only be shared with your partner or with course staff.</li>
<li><strong>WARNING:</strong> This feedback is generated automatically using a Large Language Model.<br/>While we expect them to usually be helpful, there are always possibilities for mistakes: comments received here should not override your own judgment, and <strong>you will not get points back if you follow advice here that leads to mistakes</li>
</ul>
</article>
{% endblock %}

{% block content %}
{% for comment in submission.comments %}
    <article>
        <h3>{{comment.path}}</h3>
        <blockquote>{{comment.text}}</blockquote>
        <pre><code>{{comment.code}}</code></pre>
    </article>
{% endfor %}
{% endblock %}
