{% extends "main.html.jinja" %}

{% block content %}
<dialog open>
  <article>
    <h2>ERROR: This feedback is only available to the submitter or to course staff.</h2>
  </article>
</dialog>
{% endblock %}
